.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.box {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  width: 280px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #33cc33;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.input-group input:focus {
  border-color: #33cc33;
  outline: none;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #33cc33;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  background-color: #28a828;
}